<!DOCTYPE html>
<html lang="es">
{{>home/head}}
<body>
{{{body}}}
{{>home/footer}}                                 
	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/statecity.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/masonry.pkgd.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>