<!-- Footer section -->
				<div class="copyright">
					<p>
Creado por    <a href="https://concat.design" target="_blank">CONCAT DESIGN</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->