<div class="block-header">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <h1>Tipos de Inmueble</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tipos de Inmueble</li>
                </ol>
            </nav>
        </div>            
        <div class="col-md-6 col-sm-12 text-right hidden-xs">
            
        </div>
    </div>
</div>
{{#each errors}}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>                
{{/each}}
<div class="row clearfix">
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="body">
                <div class="header">
                <h2>Crear Tipo de Inmueble</h2>
                </div>
            </div>
            <div class="body">
                <form action="/admin/properties/types/create" method="post">
                    <div class="form-group">
                        <label for="title">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="title">Icono</label>
                        <select class="selectpicker" id="icon" name="icon" data-iconBase="fa" data-live-search="true">
                        <option data-icon="fa-500px" value="fa-500px">500px</option>
                        <option data-icon="fa-address-book" value="fa-address-book">address-book</option>
                        <option data-icon="fa-address-book-o" value="fa-address-book-o">address-book-o</option>
                        <option data-icon="fa-address-card" value="fa-address-card">address-card</option>
                        <option data-icon="fa-address-card-o" value="fa-address-card-o">address-card-o</option>
                        <option data-icon="fa-adjust" value="fa-adjust">adjust</option>
                        <option data-icon="fa-adn" value="fa-adn">adn</option>
                        <option data-icon="fa-align-center" value="fa-align-center">align-center</option>
                        <option data-icon="fa-align-justify" value="fa-align-justify">align-justify</option>
                        <option data-icon="fa-align-left" value="fa-align-left">align-left</option>
                        <option data-icon="fa-align-right" value="fa-align-right">align-right</option>
                        <option data-icon="fa-amazon" value="fa-amazon">amazon</option>
                        <option data-icon="fa-ambulance" value="fa-ambulance">ambulance</option>
                        <option data-icon="fa-american-sign-language-interpreting" value="fa-american-sign-language-interpreting">american-sign-language-interpreting</option>
                        <option data-icon="fa-anchor" value="fa-anchor">anchor</option>
                        <option data-icon="fa-android" value="fa-android">android</option>
                        <option data-icon="fa-angellist" value="fa-angellist">angellist</option>
                        <option data-icon="fa-angle-double-down" value="fa-angle-double-down">angle-double-down</option>
                        <option data-icon="fa-angle-double-left" value="fa-angle-double-left">angle-double-left</option>
                        <option data-icon="fa-angle-double-right" value="fa-angle-double-right">angle-double-right</option>
                        <option data-icon="fa-angle-double-up" value="fa-angle-double-up">angle-double-up</option>
                        <option data-icon="fa-angle-down" value="fa-angle-down">angle-down</option>
                        <option data-icon="fa-angle-left" value="fa-angle-left">angle-left</option>
                        <option data-icon="fa-angle-right" value="fa-angle-right">angle-right</option>
                        <option data-icon="fa-angle-up" value="fa-angle-up">angle-up</option>
                        <option data-icon="fa-apple" value="fa-apple">apple</option>
                        <option data-icon="fa-archive" value="fa-archive">archive</option>
                        <option data-icon="fa-area-chart" value="fa-area-chart">area-chart</option>
                        <option data-icon="fa-arrow-circle-down" value="fa-arrow-circle-down">arrow-circle-down</option>
                        <option data-icon="fa-arrow-circle-left" value="fa-arrow-circle-left">arrow-circle-left</option>
                        <option data-icon="fa-arrow-circle-o-down" value="fa-arrow-circle-o-down">arrow-circle-o-down</option>
                        <option data-icon="fa-arrow-circle-o-left" value="fa-arrow-circle-o-left">arrow-circle-o-left</option>
                        <option data-icon="fa-arrow-circle-o-right" value="fa-arrow-circle-o-right">arrow-circle-o-right</option>
                        <option data-icon="fa-arrow-circle-o-up" value="fa-arrow-circle-o-up">arrow-circle-o-up</option>
                        <option data-icon="fa-arrow-circle-right" value="fa-arrow-circle-right">arrow-circle-right</option>
                        <option data-icon="fa-arrow-circle-up" value="fa-arrow-circle-up">arrow-circle-up</option>
                        <option data-icon="fa-arrow-down" value="fa-arrow-down">arrow-down</option>
                        <option data-icon="fa-arrow-left" value="fa-arrow-left">arrow-left</option>
                        <option data-icon="fa-arrow-right" value="fa-arrow-right">arrow-right</option>
                        <option data-icon="fa-arrow-up" value="fa-arrow-up">arrow-up</option>
                        <option data-icon="fa-arrows" value="fa-arrows">arrows</option>
                        <option data-icon="fa-arrows-alt" value="fa-arrows-alt">arrows-alt</option>
                        <option data-icon="fa-arrows-h" value="fa-arrows-h">arrows-h</option>
                        <option data-icon="fa-arrows-v" value="fa-arrows-v">arrows-v</option>
                        <option data-icon="fa-asl-interpreting" value="fa-asl-interpreting">asl-interpreting</option>
                        <option data-icon="fa-assistive-listening-systems" value="fa-assistive-listening-systems">assistive-listening-systems</option>
                        <option data-icon="fa-asterisk" value="fa-asterisk">asterisk</option>
                        <option data-icon="fa-at" value="fa-at">at</option>
                        <option data-icon="fa-audio-description" value="fa-audio-description">audio-description</option>
                        <option data-icon="fa-automobile" value="fa-automobile">automobile</option>
                        <option data-icon="fa-backward" value="fa-backward">backward</option>
                        <option data-icon="fa-balance-scale" value="fa-balance-scale">balance-scale</option>
                        <option data-icon="fa-ban" value="fa-ban">ban</option>
                        <option data-icon="fa-bandcamp" value="fa-bandcamp">bandcamp</option>
                        <option data-icon="fa-bank" value="fa-bank">bank</option>
                        <option data-icon="fa-bar-chart" value="fa-bar-chart">bar-chart</option>
                        <option data-icon="fa-bar-chart-o" value="fa-bar-chart-o">bar-chart-o</option>
                        <option data-icon="fa-barcode" value="fa-barcode">barcode</option>
                        <option data-icon="fa-bars" value="fa-bars">bars</option>
                        <option data-icon="fa-bath" value="fa-bath">bath</option>
                        <option data-icon="fa-bathtub" value="fa-bathtub">bathtub</option>
                        <option data-icon="fa-battery" value="fa-battery">battery</option>
                        <option data-icon="fa-battery-0" value="fa-battery-0">battery-0</option>
                        <option data-icon="fa-battery-1" value="fa-battery-1">battery-1</option>
                        <option data-icon="fa-battery-2" value="fa-battery-2">battery-2</option>
                        <option data-icon="fa-battery-3" value="fa-battery-3">battery-3</option>
                        <option data-icon="fa-battery-4" value="fa-battery-4">battery-4</option>
                        <option data-icon="fa-battery-empty" value="fa-battery-empty">battery-empty</option>
                        <option data-icon="fa-battery-full" value="fa-battery-full">battery-full</option>
                        <option data-icon="fa-battery-half" value="fa-battery-half">battery-half</option>
                        <option data-icon="fa-battery-quarter" value="fa-battery-quarter">battery-quarter</option>
                        <option data-icon="fa-battery-three-quarters" value="fa-battery-three-quarters">battery-three-quarters</option>
                        <option data-icon="fa-bed" value="fa-bed">bed</option>
                        <option data-icon="fa-beer" value="fa-beer">beer</option>
                        <option data-icon="fa-behance" value="fa-behance">behance</option>
                        <option data-icon="fa-behance-square" value="fa-behance-square">behance-square</option>
                        <option data-icon="fa-bell" value="fa-bell">bell</option>
                        <option data-icon="fa-bell-o" value="fa-bell-o">bell-o</option>
                        <option data-icon="fa-bell-slash" value="fa-bell-slash">bell-slash</option>
                        <option data-icon="fa-bell-slash-o" value="fa-bell-slash-o">bell-slash-o</option>
                        <option data-icon="fa-bicycle" value="fa-bicycle">bicycle</option>
                        <option data-icon="fa-binoculars" value="fa-binoculars">binoculars</option>
                        <option data-icon="fa-birthday-cake" value="fa-birthday-cake">birthday-cake</option>
                        <option data-icon="fa-bitbucket" value="fa-bitbucket">bitbucket</option>
                        <option data-icon="fa-bitbucket-square" value="fa-bitbucket-square">bitbucket-square</option>
                        <option data-icon="fa-bitcoin" value="fa-bitcoin">bitcoin</option>
                        <option data-icon="fa-black-tie" value="fa-black-tie">black-tie</option>
                        <option data-icon="fa-blind" value="fa-blind">blind</option>
                        <option data-icon="fa-bluetooth" value="fa-bluetooth">bluetooth</option>
                        <option data-icon="fa-bluetooth-b" value="fa-bluetooth-b">bluetooth-b</option>
                        <option data-icon="fa-bold" value="fa-bold">bold</option>
                        <option data-icon="fa-bolt" value="fa-bolt">bolt</option>
                        <option data-icon="fa-bomb" value="fa-bomb">bomb</option>
                        <option data-icon="fa-book" value="fa-book">book</option>
                        <option data-icon="fa-bookmark" value="fa-bookmark">bookmark</option>
                        <option data-icon="fa-bookmark-o" value="fa-bookmark-o">bookmark-o</option>
                        <option data-icon="fa-braille" value="fa-braille">braille</option>
                        <option data-icon="fa-briefcase" value="fa-briefcase">briefcase</option>
                        <option data-icon="fa-btc" value="fa-btc">btc</option>
                        <option data-icon="fa-bug" value="fa-bug">bug</option>
                        <option data-icon="fa-building" value="fa-building">building</option>
                        <option data-icon="fa-building-o" value="fa-building-o">building-o</option>
                        <option data-icon="fa-bullhorn" value="fa-bullhorn">bullhorn</option>
                        <option data-icon="fa-bullseye" value="fa-bullseye">bullseye</option>
                        <option data-icon="fa-bus" value="fa-bus">bus</option>
                        <option data-icon="fa-buysellads" value="fa-buysellads">buysellads</option>
                        <option data-icon="fa-cab" value="fa-cab">cab</option>
                        <option data-icon="fa-calculator" value="fa-calculator">calculator</option>
                        <option data-icon="fa-calendar" value="fa-calendar">calendar</option>
                        <option data-icon="fa-calendar-check-o" value="fa-calendar-check-o">calendar-check-o</option>
                        <option data-icon="fa-calendar-minus-o" value="fa-calendar-minus-o">calendar-minus-o</option>
                        <option data-icon="fa-calendar-o" value="fa-calendar-o">calendar-o</option>
                        <option data-icon="fa-calendar-plus-o" value="fa-calendar-plus-o">calendar-plus-o</option>
                        <option data-icon="fa-calendar-times-o" value="fa-calendar-times-o">calendar-times-o</option>
                        <option data-icon="fa-camera" value="fa-camera">camera</option>
                        <option data-icon="fa-camera-retro" value="fa-camera-retro">camera-retro</option>
                        <option data-icon="fa-car" value="fa-car">car</option>
                        <option data-icon="fa-caret-down" value="fa-caret-down">caret-down</option>
                        <option data-icon="fa-caret-left" value="fa-caret-left">caret-left</option>
                        <option data-icon="fa-caret-right" value="fa-caret-right">caret-right</option>
                        <option data-icon="fa-caret-square-o-down" value="fa-caret-square-o-down">caret-square-o-down</option>
                        <option data-icon="fa-caret-square-o-left" value="fa-caret-square-o-left">caret-square-o-left</option>
                        <option data-icon="fa-caret-square-o-right" value="fa-caret-square-o-right">caret-square-o-right</option>
                        <option data-icon="fa-caret-square-o-up" value="fa-caret-square-o-up">caret-square-o-up</option>
                        <option data-icon="fa-caret-up" value="fa-caret-up">caret-up</option>
                        <option data-icon="fa-cart-arrow-down" value="fa-cart-arrow-down">cart-arrow-down</option>
                        <option data-icon="fa-cart-plus" value="fa-cart-plus">cart-plus</option>
                        <option data-icon="fa-cc" value="fa-cc">cc</option>
                        <option data-icon="fa-cc-amex" value="fa-cc-amex">cc-amex</option>
                        <option data-icon="fa-cc-diners-club" value="fa-cc-diners-club">cc-diners-club</option>
                        <option data-icon="fa-cc-discover" value="fa-cc-discover">cc-discover</option>
                        <option data-icon="fa-cc-jcb" value="fa-cc-jcb">cc-jcb</option>
                        <option data-icon="fa-cc-mastercard" value="fa-cc-mastercard">cc-mastercard</option>
                        <option data-icon="fa-cc-paypal" value="fa-cc-paypal">cc-paypal</option>
                        <option data-icon="fa-cc-stripe" value="fa-cc-stripe">cc-stripe</option>
                        <option data-icon="fa-cc-visa" value="fa-cc-visa">cc-visa</option>
                        <option data-icon="fa-certificate" value="fa-certificate">certificate</option>
                        <option data-icon="fa-chain" value="fa-chain">chain</option>
                        <option data-icon="fa-chain-broken" value="fa-chain-broken">chain-broken</option>
                        <option data-icon="fa-check" value="fa-check">check</option>
                        <option data-icon="fa-check-circle" value="fa-check-circle">check-circle</option>
                        <option data-icon="fa-check-circle-o" value="fa-check-circle-o">check-circle-o</option>
                        <option data-icon="fa-check-square" value="fa-check-square">check-square</option>
                        <option data-icon="fa-check-square-o" value="fa-check-square-o">check-square-o</option>
                        <option data-icon="fa-chevron-circle-down" value="fa-chevron-circle-down">chevron-circle-down</option>
                        <option data-icon="fa-chevron-circle-left" value="fa-chevron-circle-left">chevron-circle-left</option>
                        <option data-icon="fa-chevron-circle-right" value="fa-chevron-circle-right">chevron-circle-right</option>
                        <option data-icon="fa-chevron-circle-up" value="fa-chevron-circle-up">chevron-circle-up</option>
                        <option data-icon="fa-chevron-down" value="fa-chevron-down">chevron-down</option>
                        <option data-icon="fa-chevron-left" value="fa-chevron-left">chevron-left</option>
                        <option data-icon="fa-chevron-right" value="fa-chevron-right">chevron-right</option>
                        <option data-icon="fa-chevron-up" value="fa-chevron-up">chevron-up</option>
                        <option data-icon="fa-child" value="fa-child">child</option>
                        <option data-icon="fa-chrome" value="fa-chrome">chrome</option>
                        <option data-icon="fa-circle" value="fa-circle">circle</option>
                        <option data-icon="fa-circle-o" value="fa-circle-o">circle-o</option>
                        <option data-icon="fa-circle-o-notch" value="fa-circle-o-notch">circle-o-notch</option>
                        <option data-icon="fa-circle-thin" value="fa-circle-thin">circle-thin</option>
                        <option data-icon="fa-clipboard" value="fa-clipboard">clipboard</option>
                        <option data-icon="fa-clock-o" value="fa-clock-o">clock-o</option>
                        <option data-icon="fa-clone" value="fa-clone">clone</option>
                        <option data-icon="fa-close" value="fa-close">close</option>
                        <option data-icon="fa-cloud" value="fa-cloud">cloud</option>
                        <option data-icon="fa-cloud-download" value="fa-cloud-download">cloud-download</option>
                        <option data-icon="fa-cloud-upload" value="fa-cloud-upload">cloud-upload</option>
                        <option data-icon="fa-cny" value="fa-cny">cny</option>
                        <option data-icon="fa-code" value="fa-code">code</option>
                        <option data-icon="fa-code-fork" value="fa-code-fork">code-fork</option>
                        <option data-icon="fa-codepen" value="fa-codepen">codepen</option>
                        <option data-icon="fa-codiepie" value="fa-codiepie">codiepie</option>
                        <option data-icon="fa-coffee" value="fa-coffee">coffee</option>
                        <option data-icon="fa-cog" value="fa-cog">cog</option>
                        <option data-icon="fa-cogs" value="fa-cogs">cogs</option>
                        <option data-icon="fa-columns" value="fa-columns">columns</option>
                        <option data-icon="fa-comment" value="fa-comment">comment</option>
                        <option data-icon="fa-comment-o" value="fa-comment-o">comment-o</option>
                        <option data-icon="fa-commenting" value="fa-commenting">commenting</option>
                        <option data-icon="fa-commenting-o" value="fa-commenting-o">commenting-o</option>
                        <option data-icon="fa-comments" value="fa-comments">comments</option>
                        <option data-icon="fa-comments-o" value="fa-comments-o">comments-o</option>
                        <option data-icon="fa-compass" value="fa-compass">compass</option>
                        <option data-icon="fa-compress" value="fa-compress">compress</option>
                        <option data-icon="fa-connectdevelop" value="fa-connectdevelop">connectdevelop</option>
                        <option data-icon="fa-contao" value="fa-contao">contao</option>
                        <option data-icon="fa-copy" value="fa-copy">copy</option>
                        <option data-icon="fa-copyright" value="fa-copyright">copyright</option>
                        <option data-icon="fa-creative-commons" value="fa-creative-commons">creative-commons</option>
                        <option data-icon="fa-credit-card" value="fa-credit-card">credit-card</option>
                        <option data-icon="fa-credit-card-alt" value="fa-credit-card-alt">credit-card-alt</option>
                        <option data-icon="fa-crop" value="fa-crop">crop</option>
                        <option data-icon="fa-crosshairs" value="fa-crosshairs">crosshairs</option>
                        <option data-icon="fa-css3" value="fa-css3">css3</option>
                        <option data-icon="fa-cube" value="fa-cube">cube</option>
                        <option data-icon="fa-cubes" value="fa-cubes">cubes</option>
                        <option data-icon="fa-cut" value="fa-cut">cut</option>
                        <option data-icon="fa-cutlery" value="fa-cutlery">cutlery</option>
                        <option data-icon="fa-dashboard" value="fa-dashboard">dashboard</option>
                        <option data-icon="fa-dashcube" value="fa-dashcube">dashcube</option>
                        <option data-icon="fa-database" value="fa-database">database</option>
                        <option data-icon="fa-deaf" value="fa-deaf">deaf</option>
                        <option data-icon="fa-deafness" value="fa-deafness">deafness</option>
                        <option data-icon="fa-dedent" value="fa-dedent">dedent</option>
                        <option data-icon="fa-delicious" value="fa-delicious">delicious</option>
                        <option data-icon="fa-desktop" value="fa-desktop">desktop</option>
                        <option data-icon="fa-deviantart" value="fa-deviantart">deviantart</option>
                        <option data-icon="fa-diamond" value="fa-diamond">diamond</option>
                        <option data-icon="fa-digg" value="fa-digg">digg</option>
                        <option data-icon="fa-dollar" value="fa-dollar">dollar</option>
                        <option data-icon="fa-dot-circle-o" value="fa-dot-circle-o">dot-circle-o</option>
                        <option data-icon="fa-download" value="fa-download">download</option>
                        <option data-icon="fa-dribbble" value="fa-dribbble">dribbble</option>
                        <option data-icon="fa-drivers-license" value="fa-drivers-license">drivers-license</option>
                        <option data-icon="fa-drivers-license-o" value="fa-drivers-license-o">drivers-license-o</option>
                        <option data-icon="fa-dropbox" value="fa-dropbox">dropbox</option>
                        <option data-icon="fa-drupal" value="fa-drupal">drupal</option>
                        <option data-icon="fa-edge" value="fa-edge">edge</option>
                        <option data-icon="fa-edit" value="fa-edit">edit</option>
                        <option data-icon="fa-eercast" value="fa-eercast">eercast</option>
                        <option data-icon="fa-eject" value="fa-eject">eject</option>
                        <option data-icon="fa-ellipsis-h" value="fa-ellipsis-h">ellipsis-h</option>
                        <option data-icon="fa-ellipsis-v" value="fa-ellipsis-v">ellipsis-v</option>
                        <option data-icon="fa-empire" value="fa-empire">empire</option>
                        <option data-icon="fa-envelope" value="fa-envelope">envelope</option>
                        <option data-icon="fa-envelope-o" value="fa-envelope-o">envelope-o</option>
                        <option data-icon="fa-envelope-open" value="fa-envelope-open">envelope-open</option>
                        <option data-icon="fa-envelope-open-o" value="fa-envelope-open-o">envelope-open-o</option>
                        <option data-icon="fa-envelope-square" value="fa-envelope-square">envelope-square</option>
                        <option data-icon="fa-envira" value="fa-envira">envira</option>
                        <option data-icon="fa-eraser" value="fa-eraser">eraser</option>
                        <option data-icon="fa-etsy" value="fa-etsy">etsy</option>
                        <option data-icon="fa-eur" value="fa-eur">eur</option>
                        <option data-icon="fa-euro" value="fa-euro">euro</option>
                        <option data-icon="fa-exchange" value="fa-exchange">exchange</option>
                        <option data-icon="fa-exclamation" value="fa-exclamation">exclamation</option>
                        <option data-icon="fa-exclamation-circle" value="fa-exclamation-circle">exclamation-circle</option>
                        <option data-icon="fa-exclamation-triangle" value="fa-exclamation-triangle">exclamation-triangle</option>
                        <option data-icon="fa-expand" value="fa-expand">expand</option>
                        <option data-icon="fa-expeditedssl" value="fa-expeditedssl">expeditedssl</option>
                        <option data-icon="fa-external-link" value="fa-external-link">external-link</option>
                        <option data-icon="fa-external-link-square" value="fa-external-link-square">external-link-square</option>
                        <option data-icon="fa-eye" value="fa-eye">eye</option>
                        <option data-icon="fa-eye-slash" value="fa-eye-slash">eye-slash</option>
                        <option data-icon="fa-eyedropper" value="fa-eyedropper">eyedropper</option>
                        <option data-icon="fa-fa" value="fa-fa">fa</option>
                        <option data-icon="fa-facebook" value="fa-facebook">facebook</option>
                        <option data-icon="fa-facebook-f" value="fa-facebook-f">facebook-f</option>
                        <option data-icon="fa-facebook-official" value="fa-facebook-official">facebook-official</option>
                        <option data-icon="fa-facebook-square" value="fa-facebook-square">facebook-square</option>
                        <option data-icon="fa-fast-backward" value="fa-fast-backward">fast-backward</option>
                        <option data-icon="fa-fast-forward" value="fa-fast-forward">fast-forward</option>
                        <option data-icon="fa-fax" value="fa-fax">fax</option>
                        <option data-icon="fa-feed" value="fa-feed">feed</option>
                        <option data-icon="fa-female" value="fa-female">female</option>
                        <option data-icon="fa-fighter-jet" value="fa-fighter-jet">fighter-jet</option>
                        <option data-icon="fa-file" value="fa-file">file</option>
                        <option data-icon="fa-file-archive-o" value="fa-file-archive-o">file-archive-o</option>
                        <option data-icon="fa-file-audio-o" value="fa-file-audio-o">file-audio-o</option>
                        <option data-icon="fa-file-code-o" value="fa-file-code-o">file-code-o</option>
                        <option data-icon="fa-file-excel-o" value="fa-file-excel-o">file-excel-o</option>
                        <option data-icon="fa-file-image-o" value="fa-file-image-o">file-image-o</option>
                        <option data-icon="fa-file-movie-o" value="fa-file-movie-o">file-movie-o</option>
                        <option data-icon="fa-file-o" value="fa-file-o">file-o</option>
                        <option data-icon="fa-file-pdf-o" value="fa-file-pdf-o">file-pdf-o</option>
                        <option data-icon="fa-file-photo-o" value="fa-file-photo-o">file-photo-o</option>
                        <option data-icon="fa-file-picture-o" value="fa-file-picture-o">file-picture-o</option>
                        <option data-icon="fa-file-powerpoint-o" value="fa-file-powerpoint-o">file-powerpoint-o</option>
                        <option data-icon="fa-file-sound-o" value="fa-file-sound-o">file-sound-o</option>
                        <option data-icon="fa-file-text" value="fa-file-text">file-text</option>
                        <option data-icon="fa-file-text-o" value="fa-file-text-o">file-text-o</option>
                        <option data-icon="fa-file-video-o" value="fa-file-video-o">file-video-o</option>
                        <option data-icon="fa-file-word-o" value="fa-file-word-o">file-word-o</option>
                        <option data-icon="fa-file-zip-o" value="fa-file-zip-o">file-zip-o</option>
                        <option data-icon="fa-files-o" value="fa-files-o">files-o</option>
                        <option data-icon="fa-film" value="fa-film">film</option>
                        <option data-icon="fa-filter" value="fa-filter">filter</option>
                        <option data-icon="fa-fire" value="fa-fire">fire</option>
                        <option data-icon="fa-fire-extinguisher" value="fa-fire-extinguisher">fire-extinguisher</option>
                        <option data-icon="fa-firefox" value="fa-firefox">firefox</option>
                        <option data-icon="fa-first-order" value="fa-first-order">first-order</option>
                        <option data-icon="fa-flag" value="fa-flag">flag</option>
                        <option data-icon="fa-flag-checkered" value="fa-flag-checkered">flag-checkered</option>
                        <option data-icon="fa-flag-o" value="fa-flag-o">flag-o</option>
                        <option data-icon="fa-flash" value="fa-flash">flash</option>
                        <option data-icon="fa-flask" value="fa-flask">flask</option>
                        <option data-icon="fa-flickr" value="fa-flickr">flickr</option>
                        <option data-icon="fa-floppy-o" value="fa-floppy-o">floppy-o</option>
                        <option data-icon="fa-folder" value="fa-folder">folder</option>
                        <option data-icon="fa-folder-o" value="fa-folder-o">folder-o</option>
                        <option data-icon="fa-folder-open" value="fa-folder-open">folder-open</option>
                        <option data-icon="fa-folder-open-o" value="fa-folder-open-o">folder-open-o</option>
                        <option data-icon="fa-font" value="fa-font">font</option>
                        <option data-icon="fa-font-awesome" value="fa-font-awesome">font-awesome</option>
                        <option data-icon="fa-fonticons" value="fa-fonticons">fonticons</option>
                        <option data-icon="fa-fort-awesome" value="fa-fort-awesome">fort-awesome</option>
                        <option data-icon="fa-forumbee" value="fa-forumbee">forumbee</option>
                        <option data-icon="fa-forward" value="fa-forward">forward</option>
                        <option data-icon="fa-foursquare" value="fa-foursquare">foursquare</option>
                        <option data-icon="fa-free-code-camp" value="fa-free-code-camp">free-code-camp</option>
                        <option data-icon="fa-frown-o" value="fa-frown-o">frown-o</option>
                        <option data-icon="fa-futbol-o" value="fa-futbol-o">futbol-o</option>
                        <option data-icon="fa-gamepad" value="fa-gamepad">gamepad</option>
                        <option data-icon="fa-gavel" value="fa-gavel">gavel</option>
                        <option data-icon="fa-gbp" value="fa-gbp">gbp</option>
                        <option data-icon="fa-ge" value="fa-ge">ge</option>
                        <option data-icon="fa-gear" value="fa-gear">gear</option>
                        <option data-icon="fa-gears" value="fa-gears">gears</option>
                        <option data-icon="fa-genderless" value="fa-genderless">genderless</option>
                        <option data-icon="fa-get-pocket" value="fa-get-pocket">get-pocket</option>
                        <option data-icon="fa-gg" value="fa-gg">gg</option>
                        <option data-icon="fa-gg-circle" value="fa-gg-circle">gg-circle</option>
                        <option data-icon="fa-gift" value="fa-gift">gift</option>
                        <option data-icon="fa-git" value="fa-git">git</option>
                        <option data-icon="fa-git-square" value="fa-git-square">git-square</option>
                        <option data-icon="fa-github" value="fa-github">github</option>
                        <option data-icon="fa-github-alt" value="fa-github-alt">github-alt</option>
                        <option data-icon="fa-github-square" value="fa-github-square">github-square</option>
                        <option data-icon="fa-gitlab" value="fa-gitlab">gitlab</option>
                        <option data-icon="fa-gittip" value="fa-gittip">gittip</option>
                        <option data-icon="fa-glass" value="fa-glass">glass</option>
                        <option data-icon="fa-glide" value="fa-glide">glide</option>
                        <option data-icon="fa-glide-g" value="fa-glide-g">glide-g</option>
                        <option data-icon="fa-globe" value="fa-globe">globe</option>
                        <option data-icon="fa-google" value="fa-google">google</option>
                        <option data-icon="fa-google-plus" value="fa-google-plus">google-plus</option>
                        <option data-icon="fa-google-plus-circle" value="fa-google-plus-circle">google-plus-circle</option>
                        <option data-icon="fa-google-plus-official" value="fa-google-plus-official">google-plus-official</option>
                        <option data-icon="fa-google-plus-square" value="fa-google-plus-square">google-plus-square</option>
                        <option data-icon="fa-google-wallet" value="fa-google-wallet">google-wallet</option>
                        <option data-icon="fa-graduation-cap" value="fa-graduation-cap">graduation-cap</option>
                        <option data-icon="fa-gratipay" value="fa-gratipay">gratipay</option>
                        <option data-icon="fa-grav" value="fa-grav">grav</option>
                        <option data-icon="fa-group" value="fa-group">group</option>
                        <option data-icon="fa-h-square" value="fa-h-square">h-square</option>
                        <option data-icon="fa-hacker-news" value="fa-hacker-news">hacker-news</option>
                        <option data-icon="fa-hand-grab-o" value="fa-hand-grab-o">hand-grab-o</option>
                        <option data-icon="fa-hand-lizard-o" value="fa-hand-lizard-o">hand-lizard-o</option>
                        <option data-icon="fa-hand-o-down" value="fa-hand-o-down">hand-o-down</option>
                        <option data-icon="fa-hand-o-left" value="fa-hand-o-left">hand-o-left</option>
                        <option data-icon="fa-hand-o-right" value="fa-hand-o-right">hand-o-right</option>
                        <option data-icon="fa-hand-o-up" value="fa-hand-o-up">hand-o-up</option>
                        <option data-icon="fa-hand-paper-o" value="fa-hand-paper-o">hand-paper-o</option>
                        <option data-icon="fa-hand-peace-o" value="fa-hand-peace-o">hand-peace-o</option>
                        <option data-icon="fa-hand-pointer-o" value="fa-hand-pointer-o">hand-pointer-o</option>
                        <option data-icon="fa-hand-rock-o" value="fa-hand-rock-o">hand-rock-o</option>
                        <option data-icon="fa-hand-scissors-o" value="fa-hand-scissors-o">hand-scissors-o</option>
                        <option data-icon="fa-hand-spock-o" value="fa-hand-spock-o">hand-spock-o</option>
                        <option data-icon="fa-hand-stop-o" value="fa-hand-stop-o">hand-stop-o</option>
                        <option data-icon="fa-handshake-o" value="fa-handshake-o">handshake-o</option>
                        <option data-icon="fa-hard-of-hearing" value="fa-hard-of-hearing">hard-of-hearing</option>
                        <option data-icon="fa-hashtag" value="fa-hashtag">hashtag</option>
                        <option data-icon="fa-hdd-o" value="fa-hdd-o">hdd-o</option>
                        <option data-icon="fa-header" value="fa-header">header</option>
                        <option data-icon="fa-headphones" value="fa-headphones">headphones</option>
                        <option data-icon="fa-heart" value="fa-heart">heart</option>
                        <option data-icon="fa-heart-o" value="fa-heart-o">heart-o</option>
                        <option data-icon="fa-heartbeat" value="fa-heartbeat">heartbeat</option>
                        <option data-icon="fa-history" value="fa-history">history</option>
                        <option data-icon="fa-home" value="fa-home">home</option>
                        <option data-icon="fa-hospital-o" value="fa-hospital-o">hospital-o</option>
                        <option data-icon="fa-hotel" value="fa-hotel">hotel</option>
                        <option data-icon="fa-hourglass" value="fa-hourglass">hourglass</option>
                        <option data-icon="fa-hourglass-1" value="fa-hourglass-1">hourglass-1</option>
                        <option data-icon="fa-hourglass-2" value="fa-hourglass-2">hourglass-2</option>
                        <option data-icon="fa-hourglass-3" value="fa-hourglass-3">hourglass-3</option>
                        <option data-icon="fa-hourglass-end" value="fa-hourglass-end">hourglass-end</option>
                        <option data-icon="fa-hourglass-half" value="fa-hourglass-half">hourglass-half</option>
                        <option data-icon="fa-hourglass-o" value="fa-hourglass-o">hourglass-o</option>
                        <option data-icon="fa-hourglass-start" value="fa-hourglass-start">hourglass-start</option>
                        <option data-icon="fa-houzz" value="fa-houzz">houzz</option>
                        <option data-icon="fa-html5" value="fa-html5">html5</option>
                        <option data-icon="fa-i-cursor" value="fa-i-cursor">i-cursor</option>
                        <option data-icon="fa-id-badge" value="fa-id-badge">id-badge</option>
                        <option data-icon="fa-id-card" value="fa-id-card">id-card</option>
                        <option data-icon="fa-id-card-o" value="fa-id-card-o">id-card-o</option>
                        <option data-icon="fa-ils" value="fa-ils">ils</option>
                        <option data-icon="fa-image" value="fa-image">image</option>
                        <option data-icon="fa-imdb" value="fa-imdb">imdb</option>
                        <option data-icon="fa-inbox" value="fa-inbox">inbox</option>
                        <option data-icon="fa-indent" value="fa-indent">indent</option>
                        <option data-icon="fa-industry" value="fa-industry">industry</option>
                        <option data-icon="fa-info" value="fa-info">info</option>
                        <option data-icon="fa-info-circle" value="fa-info-circle">info-circle</option>
                        <option data-icon="fa-inr" value="fa-inr">inr</option>
                        <option data-icon="fa-instagram" value="fa-instagram">instagram</option>
                        <option data-icon="fa-institution" value="fa-institution">institution</option>
                        <option data-icon="fa-internet-explorer" value="fa-internet-explorer">internet-explorer</option>
                        <option data-icon="fa-intersex" value="fa-intersex">intersex</option>
                        <option data-icon="fa-ioxhost" value="fa-ioxhost">ioxhost</option>
                        <option data-icon="fa-italic" value="fa-italic">italic</option>
                        <option data-icon="fa-joomla" value="fa-joomla">joomla</option>
                        <option data-icon="fa-jpy" value="fa-jpy">jpy</option>
                        <option data-icon="fa-jsfiddle" value="fa-jsfiddle">jsfiddle</option>
                        <option data-icon="fa-key" value="fa-key">key</option>
                        <option data-icon="fa-keyboard-o" value="fa-keyboard-o">keyboard-o</option>
                        <option data-icon="fa-krw" value="fa-krw">krw</option>
                        <option data-icon="fa-language" value="fa-language">language</option>
                        <option data-icon="fa-laptop" value="fa-laptop">laptop</option>
                        <option data-icon="fa-lastfm" value="fa-lastfm">lastfm</option>
                        <option data-icon="fa-lastfm-square" value="fa-lastfm-square">lastfm-square</option>
                        <option data-icon="fa-leaf" value="fa-leaf">leaf</option>
                        <option data-icon="fa-leanpub" value="fa-leanpub">leanpub</option>
                        <option data-icon="fa-legal" value="fa-legal">legal</option>
                        <option data-icon="fa-lemon-o" value="fa-lemon-o">lemon-o</option>
                        <option data-icon="fa-level-down" value="fa-level-down">level-down</option>
                        <option data-icon="fa-level-up" value="fa-level-up">level-up</option>
                        <option data-icon="fa-life-bouy" value="fa-life-bouy">life-bouy</option>
                        <option data-icon="fa-life-buoy" value="fa-life-buoy">life-buoy</option>
                        <option data-icon="fa-life-ring" value="fa-life-ring">life-ring</option>
                        <option data-icon="fa-life-saver" value="fa-life-saver">life-saver</option>
                        <option data-icon="fa-lightbulb-o" value="fa-lightbulb-o">lightbulb-o</option>
                        <option data-icon="fa-line-chart" value="fa-line-chart">line-chart</option>
                        <option data-icon="fa-link" value="fa-link">link</option>
                        <option data-icon="fa-linkedin" value="fa-linkedin">linkedin</option>
                        <option data-icon="fa-linkedin-square" value="fa-linkedin-square">linkedin-square</option>
                        <option data-icon="fa-linode" value="fa-linode">linode</option>
                        <option data-icon="fa-linux" value="fa-linux">linux</option>
                        <option data-icon="fa-list" value="fa-list">list</option>
                        <option data-icon="fa-list-alt" value="fa-list-alt">list-alt</option>
                        <option data-icon="fa-list-ol" value="fa-list-ol">list-ol</option>
                        <option data-icon="fa-list-ul" value="fa-list-ul">list-ul</option>
                        <option data-icon="fa-location-arrow" value="fa-location-arrow">location-arrow</option>
                        <option data-icon="fa-lock" value="fa-lock">lock</option>
                        <option data-icon="fa-long-arrow-down" value="fa-long-arrow-down">long-arrow-down</option>
                        <option data-icon="fa-long-arrow-left" value="fa-long-arrow-left">long-arrow-left</option>
                        <option data-icon="fa-long-arrow-right" value="fa-long-arrow-right">long-arrow-right</option>
                        <option data-icon="fa-long-arrow-up" value="fa-long-arrow-up">long-arrow-up</option>
                        <option data-icon="fa-low-vision" value="fa-low-vision">low-vision</option>
                        <option data-icon="fa-magic" value="fa-magic">magic</option>
                        <option data-icon="fa-magnet" value="fa-magnet">magnet</option>
                        <option data-icon="fa-mail-forward" value="fa-mail-forward">mail-forward</option>
                        <option data-icon="fa-mail-reply" value="fa-mail-reply">mail-reply</option>
                        <option data-icon="fa-mail-reply-all" value="fa-mail-reply-all">mail-reply-all</option>
                        <option data-icon="fa-male" value="fa-male">male</option>
                        <option data-icon="fa-map" value="fa-map">map</option>
                        <option data-icon="fa-map-marker" value="fa-map-marker">map-marker</option>
                        <option data-icon="fa-map-o" value="fa-map-o">map-o</option>
                        <option data-icon="fa-map-pin" value="fa-map-pin">map-pin</option>
                        <option data-icon="fa-map-signs" value="fa-map-signs">map-signs</option>
                        <option data-icon="fa-mars" value="fa-mars">mars</option>
                        <option data-icon="fa-mars-double" value="fa-mars-double">mars-double</option>
                        <option data-icon="fa-mars-stroke" value="fa-mars-stroke">mars-stroke</option>
                        <option data-icon="fa-mars-stroke-h" value="fa-mars-stroke-h">mars-stroke-h</option>
                        <option data-icon="fa-mars-stroke-v" value="fa-mars-stroke-v">mars-stroke-v</option>
                        <option data-icon="fa-maxcdn" value="fa-maxcdn">maxcdn</option>
                        <option data-icon="fa-meanpath" value="fa-meanpath">meanpath</option>
                        <option data-icon="fa-medium" value="fa-medium">medium</option>
                        <option data-icon="fa-medkit" value="fa-medkit">medkit</option>
                        <option data-icon="fa-meetup" value="fa-meetup">meetup</option>
                        <option data-icon="fa-meh-o" value="fa-meh-o">meh-o</option>
                        <option data-icon="fa-mercury" value="fa-mercury">mercury</option>
                        <option data-icon="fa-microchip" value="fa-microchip">microchip</option>
                        <option data-icon="fa-microphone" value="fa-microphone">microphone</option>
                        <option data-icon="fa-microphone-slash" value="fa-microphone-slash">microphone-slash</option>
                        <option data-icon="fa-minus" value="fa-minus">minus</option>
                        <option data-icon="fa-minus-circle" value="fa-minus-circle">minus-circle</option>
                        <option data-icon="fa-minus-square" value="fa-minus-square">minus-square</option>
                        <option data-icon="fa-minus-square-o" value="fa-minus-square-o">minus-square-o</option>
                        <option data-icon="fa-mixcloud" value="fa-mixcloud">mixcloud</option>
                        <option data-icon="fa-mobile" value="fa-mobile">mobile</option>
                        <option data-icon="fa-mobile-phone" value="fa-mobile-phone">mobile-phone</option>
                        <option data-icon="fa-modx" value="fa-modx">modx</option>
                        <option data-icon="fa-money" value="fa-money">money</option>
                        <option data-icon="fa-moon-o" value="fa-moon-o">moon-o</option>
                        <option data-icon="fa-mortar-board" value="fa-mortar-board">mortar-board</option>
                        <option data-icon="fa-motorcycle" value="fa-motorcycle">motorcycle</option>
                        <option data-icon="fa-mouse-pointer" value="fa-mouse-pointer">mouse-pointer</option>
                        <option data-icon="fa-music" value="fa-music">music</option>
                        <option data-icon="fa-navicon" value="fa-navicon">navicon</option>
                        <option data-icon="fa-neuter" value="fa-neuter">neuter</option>
                        <option data-icon="fa-newspaper-o" value="fa-newspaper-o">newspaper-o</option>
                        <option data-icon="fa-object-group" value="fa-object-group">object-group</option>
                        <option data-icon="fa-object-ungroup" value="fa-object-ungroup">object-ungroup</option>
                        <option data-icon="fa-odnoklassniki" value="fa-odnoklassniki">odnoklassniki</option>
                        <option data-icon="fa-odnoklassniki-square" value="fa-odnoklassniki-square">odnoklassniki-square</option>
                        <option data-icon="fa-opencart" value="fa-opencart">opencart</option>
                        <option data-icon="fa-openid" value="fa-openid">openid</option>
                        <option data-icon="fa-opera" value="fa-opera">opera</option>
                        <option data-icon="fa-optin-monster" value="fa-optin-monster">optin-monster</option>
                        <option data-icon="fa-outdent" value="fa-outdent">outdent</option>
                        <option data-icon="fa-pagelines" value="fa-pagelines">pagelines</option>
                        <option data-icon="fa-paint-brush" value="fa-paint-brush">paint-brush</option>
                        <option data-icon="fa-paper-plane" value="fa-paper-plane">paper-plane</option>
                        <option data-icon="fa-paper-plane-o" value="fa-paper-plane-o">paper-plane-o</option>
                        <option data-icon="fa-paperclip" value="fa-paperclip">paperclip</option>
                        <option data-icon="fa-paragraph" value="fa-paragraph">paragraph</option>
                        <option data-icon="fa-paste" value="fa-paste">paste</option>
                        <option data-icon="fa-pause" value="fa-pause">pause</option>
                        <option data-icon="fa-pause-circle" value="fa-pause-circle">pause-circle</option>
                        <option data-icon="fa-pause-circle-o" value="fa-pause-circle-o">pause-circle-o</option>
                        <option data-icon="fa-paw" value="fa-paw">paw</option>
                        <option data-icon="fa-paypal" value="fa-paypal">paypal</option>
                        <option data-icon="fa-pencil" value="fa-pencil">pencil</option>
                        <option data-icon="fa-pencil-square" value="fa-pencil-square">pencil-square</option>
                        <option data-icon="fa-pencil-square-o" value="fa-pencil-square-o">pencil-square-o</option>
                        <option data-icon="fa-percent" value="fa-percent">percent</option>
                        <option data-icon="fa-phone" value="fa-phone">phone</option>
                        <option data-icon="fa-phone-square" value="fa-phone-square">phone-square</option>
                        <option data-icon="fa-photo" value="fa-photo">photo</option>
                        <option data-icon="fa-picture-o" value="fa-picture-o">picture-o</option>
                        <option data-icon="fa-pie-chart" value="fa-pie-chart">pie-chart</option>
                        <option data-icon="fa-pied-piper" value="fa-pied-piper">pied-piper</option>
                        <option data-icon="fa-pied-piper-alt" value="fa-pied-piper-alt">pied-piper-alt</option>
                        <option data-icon="fa-pied-piper-pp" value="fa-pied-piper-pp">pied-piper-pp</option>
                        <option data-icon="fa-pinterest" value="fa-pinterest">pinterest</option>
                        <option data-icon="fa-pinterest-p" value="fa-pinterest-p">pinterest-p</option>
                        <option data-icon="fa-pinterest-square" value="fa-pinterest-square">pinterest-square</option>
                        <option data-icon="fa-plane" value="fa-plane">plane</option>
                        <option data-icon="fa-play" value="fa-play">play</option>
                        <option data-icon="fa-play-circle" value="fa-play-circle">play-circle</option>
                        <option data-icon="fa-play-circle-o" value="fa-play-circle-o">play-circle-o</option>
                        <option data-icon="fa-plug" value="fa-plug">plug</option>
                        <option data-icon="fa-plus" value="fa-plus">plus</option>
                        <option data-icon="fa-plus-circle" value="fa-plus-circle">plus-circle</option>
                        <option data-icon="fa-plus-square" value="fa-plus-square">plus-square</option>
                        <option data-icon="fa-plus-square-o" value="fa-plus-square-o">plus-square-o</option>
                        <option data-icon="fa-podcast" value="fa-podcast">podcast</option>
                        <option data-icon="fa-power-off" value="fa-power-off">power-off</option>
                        <option data-icon="fa-print" value="fa-print">print</option>
                        <option data-icon="fa-product-hunt" value="fa-product-hunt">product-hunt</option>
                        <option data-icon="fa-puzzle-piece" value="fa-puzzle-piece">puzzle-piece</option>
                        <option data-icon="fa-qq" value="fa-qq">qq</option>
                        <option data-icon="fa-qrcode" value="fa-qrcode">qrcode</option>
                        <option data-icon="fa-question" value="fa-question">question</option>
                        <option data-icon="fa-question-circle" value="fa-question-circle">question-circle</option>
                        <option data-icon="fa-question-circle-o" value="fa-question-circle-o">question-circle-o</option>
                        <option data-icon="fa-quora" value="fa-quora">quora</option>
                        <option data-icon="fa-quote-left" value="fa-quote-left">quote-left</option>
                        <option data-icon="fa-quote-right" value="fa-quote-right">quote-right</option>
                        <option data-icon="fa-ra" value="fa-ra">ra</option>
                        <option data-icon="fa-random" value="fa-random">random</option>
                        <option data-icon="fa-ravelry" value="fa-ravelry">ravelry</option>
                        <option data-icon="fa-rebel" value="fa-rebel">rebel</option>
                        <option data-icon="fa-recycle" value="fa-recycle">recycle</option>
                        <option data-icon="fa-reddit" value="fa-reddit">reddit</option>
                        <option data-icon="fa-reddit-alien" value="fa-reddit-alien">reddit-alien</option>
                        <option data-icon="fa-reddit-square" value="fa-reddit-square">reddit-square</option>
                        <option data-icon="fa-refresh" value="fa-refresh">refresh</option>
                        <option data-icon="fa-registered" value="fa-registered">registered</option>
                        <option data-icon="fa-remove" value="fa-remove">remove</option>
                        <option data-icon="fa-renren" value="fa-renren">renren</option>
                        <option data-icon="fa-reorder" value="fa-reorder">reorder</option>
                        <option data-icon="fa-repeat" value="fa-repeat">repeat</option>
                        <option data-icon="fa-reply" value="fa-reply">reply</option>
                        <option data-icon="fa-reply-all" value="fa-reply-all">reply-all</option>
                        <option data-icon="fa-resistance" value="fa-resistance">resistance</option>
                        <option data-icon="fa-retweet" value="fa-retweet">retweet</option>
                        <option data-icon="fa-rmb" value="fa-rmb">rmb</option>
                        <option data-icon="fa-road" value="fa-road">road</option>
                        <option data-icon="fa-rocket" value="fa-rocket">rocket</option>
                        <option data-icon="fa-rotate-left" value="fa-rotate-left">rotate-left</option>
                        <option data-icon="fa-rotate-right" value="fa-rotate-right">rotate-right</option>
                        <option data-icon="fa-rouble" value="fa-rouble">rouble</option>
                        <option data-icon="fa-rss" value="fa-rss">rss</option>
                        <option data-icon="fa-rss-square" value="fa-rss-square">rss-square</option>
                        <option data-icon="fa-rub" value="fa-rub">rub</option>
                        <option data-icon="fa-ruble" value="fa-ruble">ruble</option>
                        <option data-icon="fa-rupee" value="fa-rupee">rupee</option>
                        <option data-icon="fa-s15" value="fa-s15">s15</option>
                        <option data-icon="fa-safari" value="fa-safari">safari</option>
                        <option data-icon="fa-save" value="fa-save">save</option>
                        <option data-icon="fa-scissors" value="fa-scissors">scissors</option>
                        <option data-icon="fa-scribd" value="fa-scribd">scribd</option>
                        <option data-icon="fa-search" value="fa-search">search</option>
                        <option data-icon="fa-search-minus" value="fa-search-minus">search-minus</option>
                        <option data-icon="fa-search-plus" value="fa-search-plus">search-plus</option>
                        <option data-icon="fa-sellsy" value="fa-sellsy">sellsy</option>
                        <option data-icon="fa-send" value="fa-send">send</option>
                        <option data-icon="fa-send-o" value="fa-send-o">send-o</option>
                        <option data-icon="fa-server" value="fa-server">server</option>
                        <option data-icon="fa-share" value="fa-share">share</option>
                        <option data-icon="fa-share-alt" value="fa-share-alt">share-alt</option>
                        <option data-icon="fa-share-alt-square" value="fa-share-alt-square">share-alt-square</option>
                        <option data-icon="fa-share-square" value="fa-share-square">share-square</option>
                        <option data-icon="fa-share-square-o" value="fa-share-square-o">share-square-o</option>
                        <option data-icon="fa-shekel" value="fa-shekel">shekel</option>
                        <option data-icon="fa-sheqel" value="fa-sheqel">sheqel</option>
                        <option data-icon="fa-shield" value="fa-shield">shield</option>
                        <option data-icon="fa-ship" value="fa-ship">ship</option>
                        <option data-icon="fa-shirtsinbulk" value="fa-shirtsinbulk">shirtsinbulk</option>
                        <option data-icon="fa-shopping-bag" value="fa-shopping-bag">shopping-bag</option>
                        <option data-icon="fa-shopping-basket" value="fa-shopping-basket">shopping-basket</option>
                        <option data-icon="fa-shopping-cart" value="fa-shopping-cart">shopping-cart</option>
                        <option data-icon="fa-shower" value="fa-shower">shower</option>
                        <option data-icon="fa-sign-in" value="fa-sign-in">sign-in</option>
                        <option data-icon="fa-sign-language" value="fa-sign-language">sign-language</option>
                        <option data-icon="fa-sign-out" value="fa-sign-out">sign-out</option>
                        <option data-icon="fa-signal" value="fa-signal">signal</option>
                        <option data-icon="fa-signing" value="fa-signing">signing</option>
                        <option data-icon="fa-simplybuilt" value="fa-simplybuilt">simplybuilt</option>
                        <option data-icon="fa-sitemap" value="fa-sitemap">sitemap</option>
                        <option data-icon="fa-skyatlas" value="fa-skyatlas">skyatlas</option>
                        <option data-icon="fa-skype" value="fa-skype">skype</option>
                        <option data-icon="fa-slack" value="fa-slack">slack</option>
                        <option data-icon="fa-sliders" value="fa-sliders">sliders</option>
                        <option data-icon="fa-slideshare" value="fa-slideshare">slideshare</option>
                        <option data-icon="fa-smile-o" value="fa-smile-o">smile-o</option>
                        <option data-icon="fa-snapchat" value="fa-snapchat">snapchat</option>
                        <option data-icon="fa-snapchat-ghost" value="fa-snapchat-ghost">snapchat-ghost</option>
                        <option data-icon="fa-snapchat-square" value="fa-snapchat-square">snapchat-square</option>
                        <option data-icon="fa-snowflake-o" value="fa-snowflake-o">snowflake-o</option>
                        <option data-icon="fa-soccer-ball-o" value="fa-soccer-ball-o">soccer-ball-o</option>
                        <option data-icon="fa-sort" value="fa-sort">sort</option>
                        <option data-icon="fa-sort-alpha-asc" value="fa-sort-alpha-asc">sort-alpha-asc</option>
                        <option data-icon="fa-sort-alpha-desc" value="fa-sort-alpha-desc">sort-alpha-desc</option>
                        <option data-icon="fa-sort-amount-asc" value="fa-sort-amount-asc">sort-amount-asc</option>
                        <option data-icon="fa-sort-amount-desc" value="fa-sort-amount-desc">sort-amount-desc</option>
                        <option data-icon="fa-sort-asc" value="fa-sort-asc">sort-asc</option>
                        <option data-icon="fa-sort-desc" value="fa-sort-desc">sort-desc</option>
                        <option data-icon="fa-sort-down" value="fa-sort-down">sort-down</option>
                        <option data-icon="fa-sort-numeric-asc" value="fa-sort-numeric-asc">sort-numeric-asc</option>
                        <option data-icon="fa-sort-numeric-desc" value="fa-sort-numeric-desc">sort-numeric-desc</option>
                        <option data-icon="fa-sort-up" value="fa-sort-up">sort-up</option>
                        <option data-icon="fa-soundcloud" value="fa-soundcloud">soundcloud</option>
                        <option data-icon="fa-space-shuttle" value="fa-space-shuttle">space-shuttle</option>
                        <option data-icon="fa-spinner" value="fa-spinner">spinner</option>
                        <option data-icon="fa-spoon" value="fa-spoon">spoon</option>
                        <option data-icon="fa-spotify" value="fa-spotify">spotify</option>
                        <option data-icon="fa-square" value="fa-square">square</option>
                        <option data-icon="fa-square-o" value="fa-square-o">square-o</option>
                        <option data-icon="fa-stack-exchange" value="fa-stack-exchange">stack-exchange</option>
                        <option data-icon="fa-stack-overflow" value="fa-stack-overflow">stack-overflow</option>
                        <option data-icon="fa-star" value="fa-star">star</option>
                        <option data-icon="fa-star-half" value="fa-star-half">star-half</option>
                        <option data-icon="fa-star-half-empty" value="fa-star-half-empty">star-half-empty</option>
                        <option data-icon="fa-star-half-full" value="fa-star-half-full">star-half-full</option>
                        <option data-icon="fa-star-half-o" value="fa-star-half-o">star-half-o</option>
                        <option data-icon="fa-star-o" value="fa-star-o">star-o</option>
                        <option data-icon="fa-steam" value="fa-steam">steam</option>
                        <option data-icon="fa-steam-square" value="fa-steam-square">steam-square</option>
                        <option data-icon="fa-step-backward" value="fa-step-backward">step-backward</option>
                        <option data-icon="fa-step-forward" value="fa-step-forward">step-forward</option>
                        <option data-icon="fa-stethoscope" value="fa-stethoscope">stethoscope</option>
                        <option data-icon="fa-sticky-note" value="fa-sticky-note">sticky-note</option>
                        <option data-icon="fa-sticky-note-o" value="fa-sticky-note-o">sticky-note-o</option>
                        <option data-icon="fa-stop" value="fa-stop">stop</option>
                        <option data-icon="fa-stop-circle" value="fa-stop-circle">stop-circle</option>
                        <option data-icon="fa-stop-circle-o" value="fa-stop-circle-o">stop-circle-o</option>
                        <option data-icon="fa-street-view" value="fa-street-view">street-view</option>
                        <option data-icon="fa-strikethrough" value="fa-strikethrough">strikethrough</option>
                        <option data-icon="fa-stumbleupon" value="fa-stumbleupon">stumbleupon</option>
                        <option data-icon="fa-stumbleupon-circle" value="fa-stumbleupon-circle">stumbleupon-circle</option>
                        <option data-icon="fa-subscript" value="fa-subscript">subscript</option>
                        <option data-icon="fa-subway" value="fa-subway">subway</option>
                        <option data-icon="fa-suitcase" value="fa-suitcase">suitcase</option>
                        <option data-icon="fa-sun-o" value="fa-sun-o">sun-o</option>
                        <option data-icon="fa-superpowers" value="fa-superpowers">superpowers</option>
                        <option data-icon="fa-superscript" value="fa-superscript">superscript</option>
                        <option data-icon="fa-support" value="fa-support">support</option>
                        <option data-icon="fa-table" value="fa-table">table</option>
                        <option data-icon="fa-tablet" value="fa-tablet">tablet</option>
                        <option data-icon="fa-tachometer" value="fa-tachometer">tachometer</option>
                        <option data-icon="fa-tag" value="fa-tag">tag</option>
                        <option data-icon="fa-tags" value="fa-tags">tags</option>
                        <option data-icon="fa-tasks" value="fa-tasks">tasks</option>
                        <option data-icon="fa-taxi" value="fa-taxi">taxi</option>
                        <option data-icon="fa-telegram" value="fa-telegram">telegram</option>
                        <option data-icon="fa-television" value="fa-television">television</option>
                        <option data-icon="fa-tencent-weibo" value="fa-tencent-weibo">tencent-weibo</option>
                        <option data-icon="fa-terminal" value="fa-terminal">terminal</option>
                        <option data-icon="fa-text-height" value="fa-text-height">text-height</option>
                        <option data-icon="fa-text-width" value="fa-text-width">text-width</option>
                        <option data-icon="fa-th" value="fa-th">th</option>
                        <option data-icon="fa-th-large" value="fa-th-large">th-large</option>
                        <option data-icon="fa-th-list" value="fa-th-list">th-list</option>
                        <option data-icon="fa-themeisle" value="fa-themeisle">themeisle</option>
                        <option data-icon="fa-thermometer" value="fa-thermometer">thermometer</option>
                        <option data-icon="fa-thermometer-0" value="fa-thermometer-0">thermometer-0</option>
                        <option data-icon="fa-thermometer-1" value="fa-thermometer-1">thermometer-1</option>
                        <option data-icon="fa-thermometer-2" value="fa-thermometer-2">thermometer-2</option>
                        <option data-icon="fa-thermometer-3" value="fa-thermometer-3">thermometer-3</option>
                        <option data-icon="fa-thermometer-4" value="fa-thermometer-4">thermometer-4</option>
                        <option data-icon="fa-thermometer-empty" value="fa-thermometer-empty">thermometer-empty</option>
                        <option data-icon="fa-thermometer-full" value="fa-thermometer-full">thermometer-full</option>
                        <option data-icon="fa-thermometer-half" value="fa-thermometer-half">thermometer-half</option>
                        <option data-icon="fa-thermometer-quarter" value="fa-thermometer-quarter">thermometer-quarter</option>
                        <option data-icon="fa-thermometer-three-quarters" value="fa-thermometer-three-quarters">thermometer-three-quarters</option>
                        <option data-icon="fa-thumb-tack" value="fa-thumb-tack">thumb-tack</option>
                        <option data-icon="fa-thumbs-down" value="fa-thumbs-down">thumbs-down</option>
                        <option data-icon="fa-thumbs-o-down" value="fa-thumbs-o-down">thumbs-o-down</option>
                        <option data-icon="fa-thumbs-o-up" value="fa-thumbs-o-up">thumbs-o-up</option>
                        <option data-icon="fa-thumbs-up" value="fa-thumbs-up">thumbs-up</option>
                        <option data-icon="fa-ticket" value="fa-ticket">ticket</option>
                        <option data-icon="fa-times" value="fa-times">times</option>
                        <option data-icon="fa-times-circle" value="fa-times-circle">times-circle</option>
                        <option data-icon="fa-times-circle-o" value="fa-times-circle-o">times-circle-o</option>
                        <option data-icon="fa-times-rectangle" value="fa-times-rectangle">times-rectangle</option>
                        <option data-icon="fa-times-rectangle-o" value="fa-times-rectangle-o">times-rectangle-o</option>
                        <option data-icon="fa-tint" value="fa-tint">tint</option>
                        <option data-icon="fa-toggle-down" value="fa-toggle-down">toggle-down</option>
                        <option data-icon="fa-toggle-left" value="fa-toggle-left">toggle-left</option>
                        <option data-icon="fa-toggle-off" value="fa-toggle-off">toggle-off</option>
                        <option data-icon="fa-toggle-on" value="fa-toggle-on">toggle-on</option>
                        <option data-icon="fa-toggle-right" value="fa-toggle-right">toggle-right</option>
                        <option data-icon="fa-toggle-up" value="fa-toggle-up">toggle-up</option>
                        <option data-icon="fa-trademark" value="fa-trademark">trademark</option>
                        <option data-icon="fa-train" value="fa-train">train</option>
                        <option data-icon="fa-transgender" value="fa-transgender">transgender</option>
                        <option data-icon="fa-transgender-alt" value="fa-transgender-alt">transgender-alt</option>
                        <option data-icon="fa-trash" value="fa-trash">trash</option>
                        <option data-icon="fa-trash-o" value="fa-trash-o">trash-o</option>
                        <option data-icon="fa-tree" value="fa-tree">tree</option>
                        <option data-icon="fa-trello" value="fa-trello">trello</option>
                        <option data-icon="fa-tripadvisor" value="fa-tripadvisor">tripadvisor</option>
                        <option data-icon="fa-trophy" value="fa-trophy">trophy</option>
                        <option data-icon="fa-truck" value="fa-truck">truck</option>
                        <option data-icon="fa-try" value="fa-try">try</option>
                        <option data-icon="fa-tty" value="fa-tty">tty</option>
                        <option data-icon="fa-tumblr" value="fa-tumblr">tumblr</option>
                        <option data-icon="fa-tumblr-square" value="fa-tumblr-square">tumblr-square</option>
                        <option data-icon="fa-turkish-lira" value="fa-turkish-lira">turkish-lira</option>
                        <option data-icon="fa-tv" value="fa-tv">tv</option>
                        <option data-icon="fa-twitch" value="fa-twitch">twitch</option>
                        <option data-icon="fa-twitter" value="fa-twitter">twitter</option>
                        <option data-icon="fa-twitter-square" value="fa-twitter-square">twitter-square</option>
                        <option data-icon="fa-umbrella" value="fa-umbrella">umbrella</option>
                        <option data-icon="fa-underline" value="fa-underline">underline</option>
                        <option data-icon="fa-undo" value="fa-undo">undo</option>
                        <option data-icon="fa-universal-access" value="fa-universal-access">universal-access</option>
                        <option data-icon="fa-university" value="fa-university">university</option>
                        <option data-icon="fa-unlink" value="fa-unlink">unlink</option>
                        <option data-icon="fa-unlock" value="fa-unlock">unlock</option>
                        <option data-icon="fa-unlock-alt" value="fa-unlock-alt">unlock-alt</option>
                        <option data-icon="fa-unsorted" value="fa-unsorted">unsorted</option>
                        <option data-icon="fa-upload" value="fa-upload">upload</option>
                        <option data-icon="fa-usb" value="fa-usb">usb</option>
                        <option data-icon="fa-usd" value="fa-usd">usd</option>
                        <option data-icon="fa-user" value="fa-user">user</option>
                        <option data-icon="fa-user-circle" value="fa-user-circle">user-circle</option>
                        <option data-icon="fa-user-circle-o" value="fa-user-circle-o">user-circle-o</option>
                        <option data-icon="fa-user-md" value="fa-user-md">user-md</option>
                        <option data-icon="fa-user-o" value="fa-user-o">user-o</option>
                        <option data-icon="fa-user-plus" value="fa-user-plus">user-plus</option>
                        <option data-icon="fa-user-secret" value="fa-user-secret">user-secret</option>
                        <option data-icon="fa-user-times" value="fa-user-times">user-times</option>
                        <option data-icon="fa-users" value="fa-users">users</option>
                        <option data-icon="fa-vcard" value="fa-vcard">vcard</option>
                        <option data-icon="fa-vcard-o" value="fa-vcard-o">vcard-o</option>
                        <option data-icon="fa-venus" value="fa-venus">venus</option>
                        <option data-icon="fa-venus-double" value="fa-venus-double">venus-double</option>
                        <option data-icon="fa-venus-mars" value="fa-venus-mars">venus-mars</option>
                        <option data-icon="fa-viacoin" value="fa-viacoin">viacoin</option>
                        <option data-icon="fa-viadeo" value="fa-viadeo">viadeo</option>
                        <option data-icon="fa-viadeo-square" value="fa-viadeo-square">viadeo-square</option>
                        <option data-icon="fa-video-camera" value="fa-video-camera">video-camera</option>
                        <option data-icon="fa-vimeo" value="fa-vimeo">vimeo</option>
                        <option data-icon="fa-vimeo-square" value="fa-vimeo-square">vimeo-square</option>
                        <option data-icon="fa-vine" value="fa-vine">vine</option>
                        <option data-icon="fa-vk" value="fa-vk">vk</option>
                        <option data-icon="fa-volume-control-phone" value="fa-volume-control-phone">volume-control-phone</option>
                        <option data-icon="fa-volume-down" value="fa-volume-down">volume-down</option>
                        <option data-icon="fa-volume-off" value="fa-volume-off">volume-off</option>
                        <option data-icon="fa-volume-up" value="fa-volume-up">volume-up</option>
                        <option data-icon="fa-warning" value="fa-warning">warning</option>
                        <option data-icon="fa-wechat" value="fa-wechat">wechat</option>
                        <option data-icon="fa-weibo" value="fa-weibo">weibo</option>
                        <option data-icon="fa-weixin" value="fa-weixin">weixin</option>
                        <option data-icon="fa-whatsapp" value="fa-whatsapp">whatsapp</option>
                        <option data-icon="fa-wheelchair" value="fa-wheelchair">wheelchair</option>
                        <option data-icon="fa-wheelchair-alt" value="fa-wheelchair-alt">wheelchair-alt</option>
                        <option data-icon="fa-wifi" value="fa-wifi">wifi</option>
                        <option data-icon="fa-wikipedia-w" value="fa-wikipedia-w">wikipedia-w</option>
                        <option data-icon="fa-window-close" value="fa-window-close">window-close</option>
                        <option data-icon="fa-window-close-o" value="fa-window-close-o">window-close-o</option>
                        <option data-icon="fa-window-maximize" value="fa-window-maximize">window-maximize</option>
                        <option data-icon="fa-window-minimize" value="fa-window-minimize">window-minimize</option>
                        <option data-icon="fa-window-restore" value="fa-window-restore">window-restore</option>
                        <option data-icon="fa-windows" value="fa-windows">windows</option>
                        <option data-icon="fa-won" value="fa-won">won</option>
                        <option data-icon="fa-wordpress" value="fa-wordpress">wordpress</option>
                        <option data-icon="fa-wpbeginner" value="fa-wpbeginner">wpbeginner</option>
                        <option data-icon="fa-wpexplorer" value="fa-wpexplorer">wpexplorer</option>
                        <option data-icon="fa-wpforms" value="fa-wpforms">wpforms</option>
                        <option data-icon="fa-wrench" value="fa-wrench">wrench</option>
                        <option data-icon="fa-xing" value="fa-xing">xing</option>
                        <option data-icon="fa-xing-square" value="fa-xing-square">xing-square</option>
                        <option data-icon="fa-y-combinator" value="fa-y-combinator">y-combinator</option>
                        <option data-icon="fa-y-combinator-square" value="fa-y-combinator-square">y-combinator-square</option>
                        <option data-icon="fa-yahoo" value="fa-yahoo">yahoo</option>
                        <option data-icon="fa-yc" value="fa-yc">yc</option>
                        <option data-icon="fa-yc-square" value="fa-yc-square">yc-square</option>
                        <option data-icon="fa-yelp" value="fa-yelp">yelp</option>
                        <option data-icon="fa-yen" value="fa-yen">yen</option>
                        <option data-icon="fa-yoast" value="fa-yoast">yoast</option>
                        <option data-icon="fa-youtube" value="fa-youtube">youtube</option>
                        <option data-icon="fa-youtube-play" value="fa-youtube-play">youtube-play</option>
                        <option data-icon="fa-youtube-square" value="fa-youtube-square">youtube-square</option>
                    </select>
                </div>
                    <button type="submit" class="btn btn-primary">Crear Sector</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="card">
            <div class="body">
                <div class="header">
                    <h2>Listado de Tipos</h2>
                    <ul class="header-dropdown dropdown">    
                        <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another Action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Tipo de Inmueble</th>
                                    <th>Icono</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Tipo de Inmueble</th>
                                    <th>Icono</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{#each types}}
                                <tr>
                                    <td scope="row">{{name}}</td>
                                    <td><i class="fa fa-fw {{icon}}"></i></td>
                                    <td><form action="/admin/properties/types/delete/{{_id}}?_method=DELETE" method="POST"><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button></form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>